body {
    font-family: Courier, monospace;
    width: 40ch;
    max-width: 40ch;
}

#footer_text {
    max-width: 40ch;
}

#header::before,
#content::before,
footer::before,
footer::after {
    content: "........................................";
    display: block;
}

ul {
    list-style: none;
    padding-left: 1em;
}

ul {
    list-style-type: none;
}

ul li {
    list-style-type: "-";
}

h1 + p {
    margin-top: -0.75em;
    padding-left: 2ch;
    color: #555;
}

footer a {
    font-weight: bold;
}

#footer_content {
    display: flex;
    justify-content: space-between;
}

#footer_links a {
    margin-right: 1ch;
}
