body {
    font-family: Courier, monospace;
    width: 40ch;
    max-width: 40ch;
}

#footer_text {
    text-align: right;
    max-width: 40ch;
}
#header::before,
#content::before,
footer::before,
footer::after {
    content: "........................................";
    display: block;
}

h1 + p {
    margin-top: -0.75em;
    padding-left: 2ch;
    color: #555;
}

footer a {
    font-weight: bold;
}

#footer_links {
    text-align: left;
}

#footer_links a {
    margin-right: 1ch;
}
